/* Global */
html,
body {
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HR */
hr {
    color: white;
    height: 1rem;
    width: 100%;
}

/* Avatar */
.avatar-button {
    border-radius: 50%;
    background-color: #fff;
}

section {
    height: 80%;
}

article {
    width: 0 !important;
}